{% if paginator.total_pages > 1 %}
<nav class="pagination" role="pagination">
  <ul>
    
    {% assign url = site.baseurl | append: "/blog/" %}
        
    {% if paginator.previous_page %}
      {% if paginator.previous_page > 1 %}
        {% assign prev = 'page/' | append: paginator.previous_page %}
      {% endif %}
      <li><a class="prev button button-ghost" href="{{ paginator.previous_page_path }}" title="Articles new">&laquo; Prev</a></li>
    {% else %}
      <li><span class="prev button button-ghost disabled">&laquo; Prev</span></li>
    {% endif %}
    <li><span class="page-number">Page {{paginator.page}} of {{paginator.total_pages}}</span></li>
    {% if paginator.next_page %}
      <li><a class="next button button-ghost" href="{{ paginator.next_page_path }}" title="Articles old">Next &raquo;</a></li>
    {% else %}
      <li><span class="next button button-ghost disabled">Next &raquo;</span></li>
    {% endif %}


    <!-- <div class="pagination">
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
      {% else %}
        <span class="previous">Previous</span>
      {% endif %}
      <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}" class="next">Next</a>
      {% else %}
        <span class="next ">Next</span>
      {% endif %}
    </div> -->

  </ul>
</nav>
{% endif %}
